body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #849d8f;
  background-image: url("../img/group1.png");
  background-repeat: no-repeat;
  background-position: center 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 2.3%;
}

.main-header {
  position: relative;
  display: flex;
  margin-bottom: 310px;
}

.logo {
  padding-top: 10px;
}

.main-navigation {
  display: flex;
  justify-content: flex-start;
  font-height: 18px;
  width: 100%;
}

.site-navigation {
  width: 450px;
  margin: 0;
  padding: 0;
  display: flex;

}

 .main-item {
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  padding-top: 30px;
}

.main-link {
  text-decoration: underline;
  color: #ffffff;
  align-items: center;
}

.catalog-menu {
  display: none;
  background-color: #f8f7f4;
  width: 143px;
  margin: 0;
  padding: 0;
}

.catalog-item {
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
}

.catalog-item a {
  text-decoration: none;
  color: #000;
}

.user-navigation {
  padding-top: 30px;
}

.user-list {
  display: flex;
  width: 320px;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.user-item {
  font-size: 14px;
  line-height: 16px;
  margin-left: 10px;
}

.user-item-search img {
  background-color: #b0c0c7;
  border-radius: 50%;
  margin-bottom: -10px;
  padding: 8px;
}

.user-item-login {
  background-color: #b0c0c7;
  width: 92px;
  border-radius: 30px;
  color: #ffffff;
  padding: 10px 30px;
  text-decoration: none;
}

.user-item-login img {
  position: relative;
  top: 5px;
  right: 8px;
}

.user-item-bascet {
  padding: 10px 35px;
  border-radius: 30px;
  text-decoration: none;
  background-color: #b0c0c7;
  color: #ffffff;
}

.user-item-bascet img {
  position: relative;
  top: 5px;
  right: 8px;
}

.info {
  position: absolute;
  top: 75px;
  width: 163px;
  right: 1px;
}

.info-text {
  padding: 0 0 0 14px;
  font-size: 14px;
  line-height: 16px;
}

.info-tel {
  font-size: 22px;
  line-height: 24px;
}

.main-navigation li,
.site-navigation li,
.user-list li {
  list-style: none;
}

.main-navigation a,
.user-list a {
  color: #ffffff;
}

.site-navigation a {
  padding: 9px 14px;
}

.site-navigation a:link {
  color: #ffffff;
}

.site-navigation a:hover {
  color: #333333;
  background-color: #f7f6f3;
  border-radius: 10px;
  text-decoration: none;
}

.site-navigation a:active {

}

.sliders {
  width: 670px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.sliders h2 {
  /*margin: 0;*/
  width: 100%;
  font-size: 60px;
  line-height: 60.35px;
}

.slider1,
.slider2,
.slider3 {
  width: 100%;
  text-align: center;
}

.slider-btn {
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  text-decoration: none;
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  padding: 18px 40px;
  border-radius: 40px;
}

.slider-btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
}

.slider-btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
}

.baners {
  margin: 0 20px 40px 20px;
  display: flex;
  justify-content: space-around;
}

.baner1,
.baner2 {
  width: 560px;
  padding: 22px 15px 40px 15px;
}

.baners p {
font-size: 18px;
line-height: 22px;
}

.baners h3 {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
}

.baner1 {
  width: 560px;
  background-image: url("../img/background1.jpg");
  background-color:#b20f2f;
  background-repeat: repeat;
  border-radius: 15px;
  box-sizing: border-box;
}

.baner2 {
  width: 560px;
  background-image: url("../img/background2.jpg");
  background-color:#4e2b1b;
  background-repeat: repeat;
  border-radius: 15px;
  box-sizing: border-box;
}

.baner-btn {
  position: relative;
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  padding: 13px 20px;
  text-decoration: none;
  border-radius: 40px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  opacity: 0.988;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.baner-btn:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
}

.baner-btn:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  color: #ffffff;
}

.baner-btn-1 {
  left: 370px;
  top: 30px;
}

.baner-btn-2 {
  left: 340px;
  top: 8px;
}

.products {
  display: flex;
  width: 1146px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto 40px auto;
}

.products-item {
  position: relative;
  width: 23.2%;
  height: auto;
  flex-basis: 23.2%;
  flex-shrink: 0;
  vertical-align: top;
}

.products-item img {
  border-radius: 50%;
}

.products-item h2 {
  margin-bottom: 0;
  padding:  0;
  font-size: 16px;
  line-height: 22px;
  text-decoration: underline;
  text-align: center;
}

.product-price {
  font-size: 45px;
  line-height: 45px;
  position: absolute;
  bottom: 85px;
  left: 1px;
}

.product-image-hit {
  position: absolute;
}

.advantages {
  width: 1106px;
  margin: 0 auto 40px auto;
  padding: 30px 20px 15px 20px;
  border-radius: 15px;
  background-image: url("../img/background3.jpg");
  background-color:#efe4cc;
  background-repeat: no-repeat;
}

.advantages h3 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.advantages p {
  color: #323232;
  font-size: 16px;
  line-height: 22px;
}

.advantages-list {
  display: flex;
}

.column-left,
.column-right {
  width: 480px;
  margin-left: 65px;
}

.advantages-image {
  padding-left: 10px;
}

.advantages-ice-cream,
.advantages-cow {
  position: absolute;
  top: 1390px;
}

.advantages-eco,
.advantages-thermometer {
  position: absolute;
  top: 1470px;
}

.news {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.news-left {
  width: 560px;
  padding: 10px 20px;
  background-image: url("../img/background4.jpg");
  background-color:#ffffff;
  border-radius: 15px;
  color: #323232;
  box-sizing: border-box;
}

.news-right {
  width: 560px;
  padding: 10px 20px;
  background-image: url("../img/background5.jpg");
  background-color:#ffffff;
  border-radius: 15px;
  color: #323232;
}

.post-mail {
  width: 368px;
  height: 44px;
}

.news-right button {
  position: relative;
  left: 10px;
}

.news-left,
.news-right {
  background-color:#ffffff;
  border-radius: 15px;
  color: #323232;
  box-sizing: border-box;
}

.news-text {
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
}

.map {
  width: 100%;
  height: 430px;
  background-image: url("../img/map.jpg");
  background-size: cover;
}

.paginator-list{
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.paginator-list li {
  margin-left: 20px;
}

.paginator-list a{
  color: #ffffff;
  text-decoration: none;
}

.footer-social li,
.footer-links li,
.footer-copy li {
  list-style: none;
}

.footer-social a,
.footer-links a,
.footer-copy a {
  color: #ffffff;
}
.footer-main {
  margin: 20px 0 25px 0;
}
.footer-social,
.footer-links,
.footer-copy {
  margin: 0;
}

.footer-main,
.container-block {
  display: flex;
}
.container-block {
  width: 1200px;
  margin: 0 auto;
  padding: 0 2.3%;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 186px;
  margin-right: 214px;

}

.footer-links {
  display: flex;
  justify-content: space-around;
  width: 330px;
}

.footer-links a {
  font-size: 13px;
  line-height: 18px;
}

.footer-c {
  text-decoration: none;
}

.footer-l {
 display: flex;
 flex-direction: column; 
 margin-right: 10px;
}
.footer-r {
  display: flex;
  flex-direction: column;
}

.footer-copy {
  width: 190px;
  margin-left: auto;
}

.footer-copy p {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}