body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #849d8f;
}

.main-navigation {
  font-height: 18px;
}

.main-navigation li,
.site-navigation li,
.user-list li {
  list-style: none;
}

.main-navigation a,
.user-list a {
  color: #ffffff;
}

.site-navigation a {
  padding: 9px 14px;
}

.site-navigation a:link {
  color: #ffffff;
}

.site-navigation a:hover {
  color: #333333;
  background-color: #f7f6f3;
  border-radius: 10px;
  text-decoration: none;
}

.site-navigation a:active {

}

.sliders h2 {
  /*margin: 0;*/
  font-size: 60px;
  line-height: 60.35px;
}

.slider1,
.slider2,
.slider3 {
  text-align: center;
}

.slider-btn {
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  text-decoration: none;
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  padding: 18px 40px;
  border-radius: 40px;
}

.baners p {
font-size: 18px;
}

.baners h3 {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
}

.baner1 {
  width: 560px;
  height: 229px;
  background-image: url("../img/background1.jpg");
  background-color:#b20f2f;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.baner2 {
  width: 560px;
  height: 229px;
  background-image: url("../img/background2.jpg");
  background-color:#4e2b1b;
  background-repeat: no-repeat;
  border-radius: 15px;
}

.baner-btn {
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  padding: 13px 20px;
  text-decoration: none;
  border-radius: 40px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-image: gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  opacity: 0.988;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.form-btn {
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  padding: 13px 20px;
  text-decoration: none;
  border-radius: 40px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  background-image: gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  opacity: 0.988;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.products-item img {
  border-radius: 140px;
}

.product-price {
  font-size: 45px;
  line-height: 45px;
}

.advantages {
  width: 1146px;
  height: 306px;
  border-radius: 15px;
  background-image: url("../img/background3.jpg");
  background-color:#efe4cc;
  background-repeat: no-repeat;
}

.advantages h3 {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.advantages p {
  color: #323232;
}

.news-left {
  width: 560px;
  height: 220px;
  background-image: url("../img/background4.jpg");
  background-color:#ffffff;
  border-radius: 15px;
  color: #323232;
}

.news-right {
  width: 560px;
  height: 220px;
  background-image: url("../img/background5.jpg");
  background-color:#ffffff;
  border-radius: 15px;
  color: #323232;
}

.news-text {
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
}

.map {
  width: 1200px;
  height: 430px;
  background-image: url("../img/map.jpg");
}

.paginator-list{
  list-style: none;
}

.paginator-list a{
  color: #ffffff;
  text-decoration: none;
}

.footer-social li,
.footer-links li,
.footer-copy li {
  list-style: none;
}

.footer-social a,
.footer-links a,
.footer-copy a {
  color: #ffffff;
}